<h1> <%= current_user.username %> Details</h1><br/>
<div> <span><b>Username:</b></span> <span><%= current_user.username %></span></div><br/><br/>
<div> <span><b>Email:</b></span> <span><%= current_user.email %></span></div><br/>