<div class="menu">
  <%= link_to "home", root_path%>
  <%= link_to "Follow People", user_detail_path(current_user.username) %>
  <%= link_to "My Followers", follower_path(current_user.username) %>
</div>